{% extends 'accounts/base.html' %}

{% block content %}
<span class="login100-form-title p-b-43">
	Reset password
</span>

<p align="center">Did you forget your password?</p>
<p align="center">Enter registered email to send password reset link.</p>

<form method="POST">
	{% csrf_token %}
	<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
		<input class="input100" type="text" name="email">
		<span class="focus-input100"></span>
		<span class="label-input100">E-mail</span>
	</div>

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn" formmethod="post">
			Reset password
		</button>
	</div>
</form>
{% endblock %}