{% load i18n %}{% autoescape off %}
This email has been sent as a request to reset the account password of Kyung Hee University's department GPU server.

User E-mail: {{ user.get_username }}
Set up a new password on the page below.
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Please join our slack channel 'seraph-users-2022-2' to keep in touch with us. We'll make some announcements here.
[Slack]
https://join.slack.com/t/aiserverhq/shared_invite/zt-1hc770pcl-ZNwHtZvWHioJW_TMC~s4NQ
{% endautoescape %}