{% extends 'accounts/base.html' %}

{% block content %}
<span class="login100-form-title p-b-43">
	Reset password
</span>

<p align="center">Please eneter a new password</p>

<form method="POST">
	{% csrf_token %}
	<div class="wrap-input100 validate-input" data-validate="Password is required">
		<input class="input100" type="password" name="new_password1">
		<span class="focus-input100"></span>
		<span class="label-input100">New password</span>
	</div>

	<div class="wrap-input100 validate-input" data-validate="Password is required">
		<input class="input100" type="password" name="new_password2">
		<span class="focus-input100"></span>
		<span class="label-input100">Password Verification</span>
	</div>

	<div class="container-login100-form-btn">
		<button type="submit" class="login100-form-btn" formmethod="post">
			Reset password
		</button>
	</div>
</form>
{% endblock %}