{% extends 'accounts/base.html' %}

{% block content %}
<span class="login100-form-title p-b-43">
    Edit User INFO
</span>
<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    <div class="wrap-input100 validate-input" data-validate = "Select your course.">
        <select id="type" name="type" type="text" onchange="this.className=this.options[this.selectedIndex].className">
        <option disabled selected value>Course</option>
        <option value="Undergraduate" class="selectedOption">Undergraduate (not an intern)</option>
        <option value="Undergraduate Researcher" class="selectedOption">Undergraduate intern</option>
        <option value="Competition" class="selectedOption">Competition</option>
        <option value="Master" class="selectedOption">Master Candidate</option>
        <option value="PhD" class="selectedOption">Ph.D Candidate</option>
        <option value="Professor" class="selectedOption">Professor</option>
        <option value="Other" class="selectedOption">Others</option>
        </select>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Select your major.">
        <select id="department" name="department" type="text" onchange="this.className=this.options[this.selectedIndex].className">
            <option disabled selected value>Major</option>
            <option value="CE" class="selectedOption">Computer Science</option>
            <option value="SWCON" class="selectedOption">Software Convergence</option>
            <option value="AI" class="selectedOption">AI</option>
            <option value="EE" class="selectedOption">Electronics Engineering</option>
            <option value="BE" class="selectedOption">Biomedical Engineering</option>
        </select>
    </div>

    <div class="wrap-input100 validate-input" data-validate = "Enter your purpose of this account">
        <input id="purpose" class="input100" type="text" name="purpose">
        <span class="focus-input100"></span>
        <span class="label-input100">Purpose (ex: capstone, research, ...)<span id="purposeConfirmMessage"></span></span>
    </div>

    <div class="container-login100-form-btn">
        <button id="update" type="submit" class="login100-form-btn" formmethod="post" style="margin-top: 10px;">
            Submit
        </button>
    </div>

</form>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    // form valid
    const signUpFormValid = {
        type:false,
        department: false,
        purpose: false,
    }

    // all valid check and change button disabled false
    const checkAllValid = function(signUpFormValid) {
        const keys = Object.keys(signUpFormValid);
        let valid = true;

        for (let i = 0 ; i < keys.length; i++){
            const key = keys[i];
            if(!signUpFormValid[key]) {
                valid = false;
                break;
            }
        }
        if (valid) {
            $('#update').attr('disabled', false);
        } else {
            $('#update').attr('disabled', true);
        }
    }

    $(document).ready(function () {
        // type valid check
        $('#type').change(function(e) {
            const type = $('#type').val();
            $('type').val(type);
            if(type){
                signUpFormValid.type = true;
            } else {
                signUpFormValid.type = false;
            }
            checkAllValid(signUpFormValid);
        })

        // department valid check
        $('#department').change(function(e) {
            const department = $('#department').val();
            $('department').val(department);
            if(department){
                signUpFormValid.department = true;
            } else {
                signUpFormValid.department = false;
            }
            checkAllValid(signUpFormValid);
        })

        // purpose valid check
        $('#purpose').keyup(function(e) {
            const purpose = $('#purpose').val();
            $('purpose').val(purpose);
            if(purpose){
                signUpFormValid.purpose = true;
                $('#purposeConfirmMessage').text("");
            } else {
                signUpFormValid.purpose = false;
                $('#purposeConfirmMessage').text("Required");
                $('#purposeConfirmMessage').css('color', '#cd201f');
            }
            checkAllValid(signUpFormValid);
        })

    })
</script>
{% endblock %}
